div.row
    div.admin
        div.tags
            div(class="eight columns")
                form(method="post", action="/admin/tag/add")
                    label New Tag:
                        input(type="text", name="tag")

                    input(type="submit", value="Add")

            div(class="eight columns")
                ul
                    each tag in tags
                        li= tag.name 
                            span <a class="del-link" href="/admin/tag/delete/#{tag.name}">D</a>

hr

div.row
    div.admin
        div.images
            div(class="four columns")
                form(method="post", action="/admin/images/add")
                    label Name:
                        input(type="text", name="name")
                    label Description:
                        input(type="text", name="description")
                    label Filename:
                        input(type="text", name="filename")
                    label Tags:
                        select(name="tags", size="30", multiple="multiple")
                            each tag in tags
                                option(value="#{tag.name}")= tag.name
                    input(type="submit", value="Save")
            div(class="twelve columns")
                div.offset-by-one
                    h4 Current Images:
                    ul
                        each img in images
                            li <img class="preview-image" src="/images/coasters/#{img.filename}"></img> #{img.name}
