
div.row
    div.admin
        div.tags
            div(class="eight columns")
                form(method="post", action="/admin/show/add")
                    label Date:
                        input(type="text", name="showDate")
                    label Name:
                        input(type="text", name="name", style="width: 400px")
                    label Location:
                        input(type="text", name="location", style="width: 400px")
                    label Link:
                        input(type="text", name="link", style="width: 400px")
                    label Year:
                        select(name="year")
                            option(value="2013", selected) 2013
                            option(value="2012") 2012
                            option(value="2011") 2011
                            option(value="2010") 2010
                            option(value="2009") 2009

                    input(type="submit", value="Save")

            div(class="eight columns")
                ul(style="height: 250px; overflow: auto")
                    each show in shows
                        li= show.name 
                            span <a class="del-link" href="/admin/tag/delete/#{show.name}">D</a>

hr


div.row
    div.admin
        div.tags
            div(class="eight columns")
                form(method="post", action="/admin/tag/add")
                    label New Tag:
                        input(type="text", name="tag")

                    input(type="submit", value="Add")

            div(class="eight columns")
                ul(style="height: 250px; overflow: auto")
                    each tag in tags
                        li= tag.name 
                            span <a class="del-link" href="/admin/tag/delete/#{tag.name}">D</a>

hr

div.row
    div.admin
        div.images
            div(class="four columns")
                form(method="post", action="/admin/images/add")
                    label Name:
                        input(type="text", name="name")
                    label Description:
                        input(type="text", name="description")
                    label Filename:
                        input(type="text", name="filename")
                    label Tags:
                        select(name="tags", size="20", multiple="multiple")
                            each tag in tags
                                option(value="#{tag.name}")= tag.name
                    input(type="submit", value="Save")
            div(class="twelve columns")
                div.offset-by-one
                    h4 Current Images:
                    ul(style="height: 350px; overflow: auto")
                        each img in images
                            li <img class="preview-image" src="/images/coasters/#{img.filename}"></img> #{img.name}
