div.row
    div(class="thirteen columns")
        div.shadowbox
            ul
                each img in images
                    li(class="image", id="#{img.name}")
                        h1= img.name
                        img(src="#{img.filename}")
    div(class="three columns")
        div.tags
            div.tag-text Tags
            each tag in tags
                | <a href="/tag/#{tag.name}">
                div.tag
                    span.name= tag.name
                    span.tag-line
                    span.count 22
                | </a>

div.row
    div(class="sixteen columns")
        div.offset-by-three
            div.pagination
                ul#pager
                    li
                        <a href="/">First</a>
                    li
                        <a href="#">Prev</a>
                    li
                        <a href="#">1</a>  
                    li
                        <a href="#">2</a>  
                    li
                        <a href="#">3</a>  
                    li
                        <a href="#">Next</a>
                    li
                        <a href="#">Last</a> 


script
    //
    var url = window.location.pathname;
    console.log(url);
    var activeIdx;

    if(url === '/'){
        activeIdx = 1;
    }else{
        activeIdx = 2;
    }

    $('#pager li').each(function(idx, li){
        if(activeIdx.toString() === li.innerText){
            console.log('found it');
            li.className = 'active';
        }
        console.log(li.innerText);
        })
